.demo-table {
  width: 100%;
  font-family: Inter;
  font-size: 14px;
}

.mat-header-cell {
  background-color: #f3f5f7;
  font-weight: 600;
  font-size: 12px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid #dddddd;
}

.mat-row:hover .mat-cell {
  background-color: #f4f0ff;
}



