.demo-table {
  width: 100%;
  font-family: Inter;
  box-shadow: none;
}

.mat-header-cell {
  background-color: #f3f5f7;
  font-weight: 600;
  font-size: 14px;
  color: #031125;
}

.mat-row .mat-cell {
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
}

.mat-row:hover .mat-cell {
  background-color: #f4f0ff;
}

.buttons-container {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
