<section [formGroup]="form">
  <mat-radio-group aria-label="Select an option" (change)="handleModeChange($event)">
    <div class="radio-cards-wrapper">
      <mat-card>
        <mat-radio-button style="margin-right: 16px;" value="{{MODES.ROW}}" [checked]="mode === MODES.ROW">
          Rows
        </mat-radio-button>
        <img height="96" src="assets/row.png"/>
      </mat-card>
      <mat-card>
        <mat-radio-button value="{{MODES.COLUMN}}" [checked]="mode === MODES.COLUMN">
          Columns
        </mat-radio-button>
        <img height="96" src="assets/column.png"/>
      </mat-card>
    </div>
  </mat-radio-group>
  <table mat-table [dataSource]="expectedSchema" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Field </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="mapping">
      <th mat-header-cell *matHeaderCellDef> Map the field to your data </th>
      <td mat-cell *matCellDef="let element"> <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <mat-select formControlName="{{element.field}}">
          <mat-option *ngFor="let option of selectOptions" value="{{option}}">{{option}}</mat-option>
        </mat-select>
      </mat-form-field> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-raised-button (click)="handleBack()">Back</button>
  <button mat-raised-button color="primary" (click)="submitStructure()">Next</button>
</section>
