<div *ngIf="activeStep$ | async as activeStep" style="padding: 0">
<h1 mat-dialog-title style="background-color: #001126; padding: 20px; border-radius:8px 8px 0 0; color:white;">
  {{TITLE[activeStep]}}
</h1>
<div mat-dialog-content>
  <ng-container [ngSwitch]="activeStep" class="custom-dialog">
    <app-upload-step *ngSwitchCase="STEPS.UPLOAD" (next)="handleNextStep()"></app-upload-step>
    <app-structure-step *ngSwitchCase="STEPS.STRUCTURE" (next)="handleNextStep()" (back)="handleBackStep()"></app-structure-step>
    <app-preview-step *ngSwitchCase="STEPS.PREVIEW"  (back)="handleBackStep()"></app-preview-step>
  </ng-container>
</div>
</div>
